.clock {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid #444;
    background-color: #f2f2f2;
    margin: 0 auto;
  }
  
  .hour-hand,
  .minute-hand,
  .second-hand {
    position: absolute;
    background-color: #000;
    transform-origin: bottom center;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  
  .hour-hand {
    width: 6px;
    height: 50px;
  }
  
  .minute-hand {
    width: 4px;
    height: 70px;
  }
  
  .second-hand {
    width: 2px;
    height: 90px;
  }
  
  .numbers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }
  
  
  
  .num2 {
    top: 18%;
    left: 71%;
    transform: translateX(-50%) rotate(60deg);
  }
  
  .num3 {
    top: 35%;
    left: 87%;
  }
  
  .num4 {
    top: 65%;
    left: 87%;
    transform: translateX(-50%) rotate(-60deg);
  }
  
  .num5 {
    top: 82%;
    left: 71%;
    transform: translateX(-50%) rotate(-30deg);
  }
  
  .num6 {
    bottom: 0%;
    left: 10%;
    transform: translateX(-50%);
  }
  
  .num7 {
    top: 82%;
    left: 29%;
    transform: translateX(-50%) rotate(30deg);
  }
  
  .num8 {
    top: 65%;
    left: 13%;
    transform: translateX(-50%) rotate(60deg);
  }
  
  .num9 {
    top: 35%;
    left: 7%;
  }
  
  .num10 {
    top
  